<!doctype htmng="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Christopher Whittemore | Christopher Whittemore's Web Site</title>
<link rel="stylesheet" href="../css/style.css" media="screen">
<link rel="stylesheet" href="../css/font-awesome.min.css" media="screen">
<meta name="keywords" content="design,opinion,responsive">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script>
  jQuery(document).ready(function($) {$(".article_title").fitText(0.41);});
</script>

<script>
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
    var msViewportStyle = document.createElement("style");
    msViewportStyle.appendChild(
        document.createTextNode(
            "@-ms-viewport{width:auto!important}"
        )
    );
    document.getElementsByTagName("head")[0].
        appendChild(msViewportStyle);
}
</script>
<script>
  jQuery(document).ready(function($){
    // Target your .container, .wrapper, .post, etc.
    $(".container").fitVids();
  });
</script>

<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body class="archive category category-articles category-14">
<div id="pagewrap" class="clearfix">
  <div class="container clearfix">

      <!-- Main Navigation -->
      <header id="header">
        <div id="nav">
          <a title="Home" class="tw" href="/">
            <i class="fa fa-fighter-jet fa-2x"></i>
            <span class="screen-reader-text">Christopher Whittemore</span>
         </a>
          <ul>
            <li class="articles"><a title="Articles" href="views/articles.html">Articles</a></li>
            <li class="notes"><a title="Notes" href="views/notes.html">Notes</a></li>
            <li class="info"><a title="Info" href="views/info.html">Info</a></li>
            <li class="works"><a title="Works" href="views/works.html">Search</a></li>
          </ul>
        </div>
      </header>

  <section class="clearfix">
    <div class="container">

 <article class="article post-6591 post type-post status-publish format-standard has-post-thumbnail hentry category-articles tag-design tag-opinion tag-responsive" id="post-6591">
   <div class="grid-row centered">
     <a href="#"><img width="296" height="196" src="http://placehold.it/300x200" class="attachment-article-post-thumbnail wp-post-image" alt="device-agnostic-thumb"></a>
     <h2><a href="#" class="article_title" rel="bookmark" title="here">Article Title Here</a></h2>
     <div class="meta">
       <a href="http://trentwalton.com/2014/03/10/device-agnostic/">
         <time pubdate="">Mar 10th, 2014</time>
       </a>—<a href="http://trentwalton.com/2014/03/10/device-agnostic/#comments">35 Responses</a>
     </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare ligula vel eleifend congue. Cras interdum, lectus quis tristique bibendum, ex elit convallis arcu, eu tincidunt ex ex quis ipsum. Integer convallis ex turpis… <a href="#">read&nbsp;more</a></p>
  </div>
</article> 

<article class="article post-6591 post type-post status-publish format-standard has-post-thumbnail hentry category-articles tag-design tag-opinion tag-responsive" id="post-6591">
   <div class="grid-row centered">
     <a href="#"><img width="296" height="196" src="http://placehold.it/300x200" class="attachment-article-post-thumbnail wp-post-image" alt="device-agnostic-thumb"></a>
     <h2><a href="#" class="article_title" rel="bookmark" title="here">Article Title Here</a></h2>
     <div class="meta">
       <a href="http://trentwalton.com/2014/03/10/device-agnostic/">
         <time pubdate="">Mar 10th, 2014</time>
       </a>—<a href="http://trentwalton.com/2014/03/10/device-agnostic/#comments">35 Responses</a>
     </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare ligula vel eleifend congue. Cras interdum, lectus quis tristique bibendum, ex elit convallis arcu, eu tincidunt ex ex quis ipsum. Integer convallis ex turpis… <a href="#">read&nbsp;more</a></p>
  </div>
</article>

<article class="article post-6591 post type-post status-publish format-standard has-post-thumbnail hentry category-articles tag-design tag-opinion tag-responsive" id="post-6591">
   <div class="grid-row centered">
     <a href="#"><img width="296" height="196" src="http://placehold.it/300x200" class="attachment-article-post-thumbnail wp-post-image" alt="device-agnostic-thumb"></a>
     <h2><a href="#" class="article_title" rel="bookmark" title="here">Article Title Here</a></h2>
     <div class="meta">
       <a href="http://trentwalton.com/2014/03/10/device-agnostic/">
         <time pubdate="">Mar 10th, 2014</time>
       </a>—<a href="http://trentwalton.com/2014/03/10/device-agnostic/#comments">35 Responses</a>
     </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare ligula vel eleifend congue. Cras interdum, lectus quis tristique bibendum, ex elit convallis arcu, eu tincidunt ex ex quis ipsum. Integer convallis ex turpis… <a href="#">read&nbsp;more</a></p>
  </div>
</article>

<article class="article post-6591 post type-post status-publish format-standard has-post-thumbnail hentry category-articles tag-design tag-opinion tag-responsive" id="post-6591">
   <div class="grid-row centered">
     <a href="#"><img width="296" height="196" src="http://placehold.it/300x200" class="attachment-article-post-thumbnail wp-post-image" alt="device-agnostic-thumb"></a>
     <h2><a href="#" class="article_title" rel="bookmark" title="here">Article Title Here</a></h2>
     <div class="meta">
       <a href="http://trentwalton.com/2014/03/10/device-agnostic/">
         <time pubdate="">Mar 10th, 2014</time>
       </a>—<a href="http://trentwalton.com/2014/03/10/device-agnostic/#comments">35 Responses</a>
     </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare ligula vel eleifend congue. Cras interdum, lectus quis tristique bibendum, ex elit convallis arcu, eu tincidunt ex ex quis ipsum. Integer convallis ex turpis… <a href="#">read&nbsp;more</a></p>
  </div>
</article>

<article class="article post-6591 post type-post status-publish format-standard has-post-thumbnail hentry category-articles tag-design tag-opinion tag-responsive" id="post-6591">
   <div class="grid-row centered">
     <a href="#"><img width="296" height="196" src="http://placehold.it/300x200" class="attachment-article-post-thumbnail wp-post-image" alt="device-agnostic-thumb"></a>
     <h2><a href="#" class="article_title" rel="bookmark" title="here">Article Title Here</a></h2>
     <div class="meta">
       <a href="http://trentwalton.com/2014/03/10/device-agnostic/">
         <time pubdate="">Mar 10th, 2014</time>
       </a>—<a href="http://trentwalton.com/2014/03/10/device-agnostic/#comments">35 Responses</a>
     </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare ligula vel eleifend congue. Cras interdum, lectus quis tristique bibendum, ex elit convallis arcu, eu tincidunt ex ex quis ipsum. Integer convallis ex turpis… <a href="#">read&nbsp;more</a></p>
  </div>
</article>

<article class="article post-6591 post type-post status-publish format-standard has-post-thumbnail hentry category-articles tag-design tag-opinion tag-responsive" id="post-6591">
   <div class="grid-row centered">
     <a href="#"><img width="296" height="196" src="http://placehold.it/300x200" class="attachment-article-post-thumbnail wp-post-image" alt="device-agnostic-thumb"></a>
     <h2><a href="#" class="article_title" rel="bookmark" title="here">Article Title Here</a></h2>
     <div class="meta">
       <a href="http://trentwalton.com/2014/03/10/device-agnostic/">
         <time pubdate="">Mar 10th, 2014</time>
       </a>—<a href="http://trentwalton.com/2014/03/10/device-agnostic/#comments">35 Responses</a>
     </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare ligula vel eleifend congue. Cras interdum, lectus quis tristique bibendum, ex elit convallis arcu, eu tincidunt ex ex quis ipsum. Integer convallis ex turpis… <a href="#">read&nbsp;more</a></p>
  </div>
</article>
    <nav class="pagination pag-two">
        <span id="older-nav"><a href="http://trentwalton.com/category/articles/page/2/" >Older Posts</a></span>
        <span id="newer-nav"></span>
    </nav>
    
    
              <nav class="pagination-meta">
                  <p><span id="older"><a href="http://trentwalton.com/category/articles/page/2/" >Older Posts</a></span>
                   
                  <span id="newer"></span>
                  </p>
                </nav>  


  </div><!-- end .container -->
</section><!-- end clearfix -->
<!-- wordpress footer -->  <!-- /wordpress footer -->
  <div class="container">
    <footer id="footer">
      <div class="grid-unit"><span class="twitter"><a href="http://twitter.com/TrentWalton">Follow me on Twitter</a></span></div><div class="grid-unit"><span class="paravel"><a href="http://paravelinc.com">Hire Paravel</a></span> <span class="rss"><a href="http://trentwalton.com/feed/">RSS Feed</a></span></div>
    </footer>
  </div>
</div><!-- end pagewrap -->


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3299532-15");
pageTracker._trackPageview();
} catch(err) {}</script>
<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
try {
reinvigorate.track("2540w-03j8d551b7");
} catch(err) {}
</script>
<!--
<script type="text/javascript">
(function(){
  var fusion = document.createElement('script');
  fusion.src = window.location.protocol + '//adn.fusionads.net/api/1.0/ad.js?zoneid=130&rand=' + Math.floor(Math.random()*9999999);
  fusion.async = true;
  document.getElementsByTagName('head')[0].appendChild(fusion);
})();</script>
-->

</body>
</html>
