<!doctype html>
<html lang="en-US">
  <head> 
    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylsheet" type="text/css" href="/css/style.css">

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
  </head>
  <body>
    <!-- Page Wrapper -->
    <div class="pagewrap">
     <!-- Page Container -->
      <div class="container clearfix">
        <!-- Top Level Navigation -->
        <header id="header">
          <div id=nav">
            <a title="Home" class="cw" href="/">
              <!-- Initial View -->
              <span class="screen-reader-text">Christopher Whittemore</span>
            </a>
            <ul>
              <li class="articles">
                <a title="Articles" href="articles.html">
                  <!-- Archive of Articles -->
                  Articles
                </a>
              </li>
              <li class="notes">
                <a title=" Notes" href="notes.html">
                  <!-- Arcihve of Smaller Write-ups -->
                  Notes
                </a>
              </li>
              <li class="info">
                <a title="Info" href="info.html">
                  <!-- About Me -->
                  Info
                </a>
              </li>
              <li class="works">
                <a title="Works" href="works.html">
                  <!-- Archive of Works -->
                  Works
                </a>
              </li>
            </ul>
          <div>
        </header>
        <h1> Info </h1>
      </div> <!-- End Page Continer -->
    </div> <!-- End Page wrapper -->
  </body>
</html>
